{% extends 'workertemp/Worker_home.html' %}
{% block content %}


<div class="col-lg-12 mt-5">

    {% for message in messages %}
    <div class="alert alert-danger" role="alert">
        <strong>{{message}}</strong>
    </div>
    {% endfor %}
    <div class="card">

        <div class="card-body">
            <h4 class="header-title">Appointments</h4>

            <div class="single-table">
                <div class="table-responsive">
                    <table class="table text-center">
                        <thead class="text-uppercase bg-secondary">
                        <tr class="text-white">

                            <th>SINo</th>
                            <th>Customer</th>
<!--                            <th>Worker</th>-->
                            <th>Status</th>
                            <th>Action</th>


                        </tr>
                        </thead>
                        <tbody>
                        {% for appointment in appointment %}
                        <tr>
                            <td>{{forloop.counter }}</td>
                            <td>{{ appointment.user}}</td>
                            <td>{{ appointment.status}}</td>


                            <td>
                                {% if appointment.status == 0 %}
                                <a class="btn btn-primary btn-rounded btn-sm my-0" href="{% url 'approve_appointment' appointment.id %}">Approve</a>
                                <a class="btn btn-danger btn-rounded btn-sm my-0" href="{% url 'reject_appointment' appointment.id %}">Reject</a>
                                {% elif appointment.status == 1 %}
                                <button class="btn btn-info">Approved</button>
                                {% else %}
                                <button class="btn btn-warning">Rejected</button>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
window.mytest = function()
{ var isValid = confirm('Are you sure Want to Delete ?');if (!isValid) { event.preventDefault();
  }}







</script>
{% endblock %}