{% extends 'admintemp/index.html'%}
{% load crispy_forms_tags %}
{%  block content %}
<div class="card" style="width: 70rem;">
  <div class="card-body">
    <h5 class="card-title"></h5>
        <table class ='table'>
            <thead>
            <tr>
                <th scope="col"></th>
                <th>Customer</th>
                <th>Worker</th>
                <th>Description</th>
                <th>Date</th>
<!--                <th>IMAGE</th>-->


            </tr>
            </thead>
            <tbody>
            {% for i in obj %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{i.customer}}</td>
                <td>{{i.worker}}</td>
                <td>{{i.description}}</td>
                <td>{{i.date}}</td>


            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
</div>
{% endblock %}