{% extends 'admintemp/index.html'%}
{% load crispy_forms_tags %}
{%  block content %}
<div class="card" style="width: 70rem;">
  <div class="card-body">
    <h5 class="card-title"></h5>
        <table class ='table'>
            <thead>
            <tr>
                <th scope="col"></th>
                <th>Customer</th>
<!--                <th>Worker</th>-->
                <th>Description</th>
                <th>Date</th>
                <th>Status</th>
<!--                <th>IMAGE</th>-->


            </tr>
            </thead>
            <tbody>
            {% for i in obj %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{i.user}}</td>
<!--                <td>{{i.worker}}</td>-->
                <td>{{i.description}}</td>
                <td>{{i.date}}</td>
                <td>
                      {% if i.reply == None %}
                      <a href="{% url 'reply' i.id %}" class="btn btn-danger" tabindex="-1" role="button" aria-disabled="true">No Reply</a>
                      {% else %}
                      <a href="{% url 'reply' i.id %}" class="btn btn-success" tabindex="-1" role="button" aria-disabled="true">reply</a>
                      {% endif %}
                </td>
                <td><a href="{% url 'Complaint_delete' i.id %}" class="btn btn-danger" tabindex="-1" role="button" aria-disabled="true">Delete</a></td>


            {% endfor %}
          </tbody>
       </table>
       </div>
</div>
{% endblock %}