{% extends 'admintemp/Homepage.html'%}
{% load crispy_forms_tags %}
{%  block content %}
<div class="card" style="width: 70rem;">
  <div class="card-body">
    <h5 class="card-title"></h5>
        <table class ='table'>
            <thead>
            <tr>
                <th scope="col"></th>
                <th>NAME</th>
                <th>ADDRESS</th>
                <th>PHONE NUMBER</th>
                <th>LOCATION</th>
<!--                <th>IMAGE</th>-->


            </tr>
            </thead>
            <tbody>
            {% for i in obj %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{i.name}}</td>
                <td>{{i.address}}</td>
                <td>{{i.phone_number}}</td>
                <td>{{i.location}}</td>
<!--                <td><img src="{{i.image.url}}" alt="IMAGE" width="200"height="150"></td>-->

                <td><a href="{% url 'Customer_edit_views' i.id %}" class="btn btn-success" tabindex="-1" role="button" aria-disabled="true">Edit</a></td>
                <td><a href="{% url 'Customer_delete_views' i.id %}" class="btn btn-danger" tabindex="-1" role="button" aria-disabled="true">Delete</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
</div>
{% endblock %}