{% extends 'admintemp/index.html'%}
{% load crispy_forms_tags %}
{%  block content %}        <! block content used for >
<div class="card" style="width: 30rem;">
  <div class="card-body">
    <h5 class="card-title"></h5>
        <table class ='table'>
            <thead>
            <tr>
                <th scope="col">name</th>
            </tr>
            </thead>
            <tbody>
            {% for i in obj %}
            <tr>
                <th scope="row">{{forloop.counter}}</th> <!{{forloop.counter}} used for indexing from 1....>
                <td>{{i.name}}</td>
                <td><a href="{% url 'service_delete' i.id %}" class="btn btn-danger" tabindex="-1" role="button" aria-disabled="true">Delete</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>





  </div>
</div>
{% endblock %}